@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "highlight.js/styles/github.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* =========================
   ROOT VARIABLES
========================= */
:root {
  --back_color: #ffffff;
  --back_color_tran: #ffffff4b;
  --text_color: #374151;
  --text_color_tran: #12121220;
  --primary_color: #6200EE;
  --primary_color_tran: #6300ee19;
  --secoundary_color: #018786;
  --secoundary_color_tran: #01878718;
  --red_color_tran: #e0558826;
  --orange_color: #d69c31;
  --orange_color_tran: #d69c312d;
  --error_color: #CF6679;

  --font-sans: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, monospace;

  --background: 0 0% 100%; /* 100% white */
  --editor-bg: 0 0% 100%; /* 100% white */
}

/* Global CSS Overrides */
.btn-custom-primary {
  background-color: var(--primary_color) !important; /* Example: Red background */
  color: white !important;
  border-radius: 0.5rem !important;
  padding: 1.5rem 1.5rem !important;
}

/* Aggressive CSS Reset for common block elements */
h1, h2, h3, h4, h5, h6, p, ul, ol, li, pre, blockquote, figure, table, dl, dd {
  margin: 0;
  padding: 0;
}


.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #016fdd;
  pointer-events: none;
  height: 0;
}


/* Attempt to remove quotes/extra content from inline code */
code::before,
code::after {
  content: none !important;
}

/* Math Blocks */
.math-block-wrapper {
  padding: 0 1rem; /* Removed top/bottom padding */
  border: 1px solid #eee;
  border-radius: 0.5rem;
  /* margin: 1rem 0; */ /* Removed margins */
  /* background-color: #f9f9f9; */ /* Removed background */
  overflow-x: auto;
  font-size: 1rem; /* Specific font size for equations */
}

.math-block-wrapper:hover {
  background-color: rgb(246,248,250); /* Even lighter gray on hover */
}

/* Lists */
ul,
ol {
  font-size: 1rem;
  padding-left: 1.5rem;
  line-height: 1 !important;
}

li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1 !important;
}

/* Define CSS variable for light code block background */
:root {
  --code-light-bg: #f6f8fa; /* Example light background color */
}

pre {
  background: var(--code-light-bg) !important; 
  padding: 0 1rem; 
  border-radius: 0.5rem;
  font-size: 1.05rem !important;
  overflow-x: auto;
  margin: 0;
  line-height: 1.3 !important;
}

pre code {
  color: var(--text_color) !important;
}